::placeholder{
    align-self: center;
}


.new_content_button {
    background-color: #4CAF50;
    color: white;
    border-color: White;
    height: 8vh;
    width: 7vw;
    font-size: 2vw;
    cursor: pointer;
}

.new_content_button:hover{
    background-color: #4CAF50;
    color: white;
    height: 8vh;
    width: 7vw;
    font-size: 2vw;
    border-color: black;
    border-width: 2pt;
    cursor: pointer;
}

.searchbox {
    width: 57vw;
    height: 6vh;
    background: #f6f6f6;
    opacity: 1;
    position: relative;
    border-color: white;
    font-weight: bold;
    overflow: hidden;
    font-size: 20pt;
}

.searchbox:hover {
    width: 57vw;
    height: 6vh;
    background: #f6f6f6;
    opacity: 1;
    position: relative;
    border-color: black;
    font-size: 20pt;
    overflow: hidden;
}

.Row-content-justify1{
    margin-top: 12px;
}

.Row-content-justify2{
    margin-top: 22px;
    font-weight: bold;
    position:relative;
}

.left-margin{
    margin-left: 5vw;
}

.table-header{
    width: 80vw;
    height: 7vh;
    background: rgba(107, 98, 98, 1);
    opacity: 1;
    margin-left: 5vw;
    position: relative;
    overflow: hidden;
    align-self: center;
}

.table-header-title{
    color:white;
    font-size: 2vw;
    margin-left: 1vw;
    font-weight: bold;
    display: inline;
    position: relative;
}

.table-header-date{
    color:white;
    font-size: 2vw;
    margin-left: 40vw;
    font-weight: bold;
    display: inline;
    position: relative;
}

.table-header-type{
    color:white;
    font-size: 2vw;
    margin-left: 12vw;
    font-weight: bold;
    display: inline;
    position: relative;
}

.sample-blog{
    position: relative;
    width: 80vw;
    height: 5vh;
    overflow: hidden;
    margin-left: 5vw;
    align-self: center;
}

.blog-title{
    position: relative;
    display: inline;
    font-size: 1.5vw;
    text-align: center;
    margin-left: 1vw;
}

.blog-date{
    position: relative;
    display: inline;
    margin-left: 25vw;
    font-size: 1.5vw;
    opacity: 1;
    text-align: center;
}

.blog-type{
    width: 130px;
    position: relative;
    display: inline;
    margin-left: 10.5vw;
    font-family: Roboto;
    font-size: 1.5vw;
    opacity: 1;
    text-align: center;
}

.blog-button{
    position: relative;
    display: inline;
    left:5vw;
    bottom: 0.3vw;
    font-family: Roboto;
    font-size: 1vw;
    opacity: 1;
    width: 6vw;
    color: white;
    background-color: red;
    border-color: white;
}

.blog-button:hover{
    position: relative;
    display: inline;
    left:5vw;
    bottom: 0.3vw;
    font-family: Roboto;
    font-size: 1vw;
    opacity: 1;
    width: 6vw;
    color: white;
    background-color: red;
    border-color: black;
}