::placeholder{
    align-self: center;
}


.new_content_button {
    background-color: #4CAF50;
    color: white;
    border-color: White;
    height: 8vh;
    width: 7vw;
    font-size: 2vw;
    cursor: pointer;
}

.new_content_button:hover{
    background-color: #4CAF50;
    color: white;
    height: 8vh;
    width: 7vw;
    font-size: 2vw;
    border-color: black;
    border-width: 2pt;
    cursor: pointer;
}

.searchbox {
    width: 57vw;
    height: 6vh;
    background: #f6f6f6;
    opacity: 1;
    position: relative;
    border-color: white;
    font-weight: bold;
    overflow: hidden;
    font-size: 20pt;
}

.searchbox:hover {
    width: 57vw;
    height: 6vh;
    background: #f6f6f6;
    opacity: 1;
    position: relative;
    border-color: black;
    font-size: 20pt;
    overflow: hidden;
}

.Row-content-justify1{
    margin-top: 12px;
}

.Row-content-justify2{
    margin-top: 22px;
    font-weight: bold;
    position:relative;
}

.left-margin{
    margin-left: 5vw;
}