.heading{
    width: 60vw;
    color: rgba(0,0,0,1);
    position: absolute;
    top:16vh;
    left:7vw;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 2.5vw;
    opacity: 1;
    text-align: left;
}

.title-margin{
    width: 80vw;
    height: 5vh;
    background: #f6f6f6;
    opacity: 1;
    position: absolute;
    top: 24vh;
    left: 7vw;
    border:none;
    font-size: 3vh;
    overflow: hidden;
}

.eventlink-margin{
    width: 80vw;
    height: 5vh;
    background: #f6f6f6;
    opacity: 1;
    position: absolute;
    top: 31vh;
    left: 7vw;
    border:none;
    font-size: 3vh;
    overflow: hidden;
}

.Description-margin{
    width: 80vw;
    height: 30vh;
    resize:none;
    background: #f6f6f6;
    opacity: 1;
    position: absolute;
    top: 38vh;
    left: 7vw;
    border:none;
    font-size: 3vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.upload_button{
    position: absolute;
    top:71vh;
    left:7vw;
}

::placeholder {
    color: gray;
    opacity: 1; 
    font-size: 1vw;
  }

.Button_customize1{
    background: #f6f6f6;
    border-color: black;
    color: black;
}

.submit_button{
    height:12vh;
    position: absolute;
    top:71vh;
    left:77vw;
}

.Button_customize2_1{
    background: red;
    border-color: black;
    color: white;
    width:5vw;
    height: 5vh;
}

.Button_customize2_2{
    background: green;
    border-color: black;
    color: white;
    width:5vw;
    height: 5vh;
}